h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fd8664;
    font-size: 60px;
    text-align: center;
    margin-top: 45%;
    text-shadow: 2px 2px #ff0000;
    animation: title 2s infinite;
}

@keyframes title{
    0% { 
    
        transform: rotate(0deg); 
    }
    80% { 
        transform: rotate(0deg);
    }
    85% { 
        transform: rotate(5deg); 
    }
    95% { 
        transform: rotate(-5deg); 
    }
   100% {
       transform: rotate(0deg); 
    }
 }
 
#top-nav{
    margin-top: 50px;
    text-align: center;
}

#top-nav button{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: #7fb285;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    min-width: 300px;
    min-height: 60px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
