.subwords {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; 
    font-style: normal;
    color:#AA9580 ;
    margin: 0;
    font-size: 18px;
    /* text-shadow: 2px 2px rgb(245, 152, 140); */
}


#location p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#words {
    font-family: 'Roboto', sans-serif;
    font-weight: 900; 
    font-style: bold;
    color:#fd8664 ;
    font-size: 45px ;
    margin:0;
    text-shadow: 2px 2px #ff0000;
}


#distance{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
    font-style: normal;
    color:  rgb(95, 93, 93) ;
    margin: 5px;

}
#backs{
    border-radius: 12px;
    background-color: #7FB285;
    border: none;
    color: white;
    padding: 20px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: 600;
    position: relative;

}   
#submit {
    border-radius: 12px;
    background-color: #7FB285;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: 600;
    position: relative;
    margin-top: 110%;

}


/* grey- e0e6e6  
red-#fd8664 
green- 8ab661 
brown- ecdec3 
yellow- fabe0e */